<div class="container">
  <div class="row ">
    <div class="col-6 mt-4 mx-auto">
      <div class="card border-primary mb-3">
        <div class="card-header text-center">Agregar Usuario</div>
        <div class="card-body text-primary">
          <form>
            <div class="mb-3">
              <label for="Nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="Nombre"
                aria-describedby="text"
              />
            </div>
            <div class="mb-3">
              <label for="Apellido" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="Apellido"
                aria-describedby="text"
              />
            </div>
            <div class="mb-3">
              <label for="CorreoElectrónico" class="form-label"
                >Correo Electrónico</label
              >
              <input
                type="email"
                class="form-control"
                id="CorreoElectrónico"
                aria-describedby="text"
              />
            </div>

            <div class="mb-3">
              <label for="FechaNacimiento" class="form-label"
                >Fecha de Nacimiento</label
              >
              <input
                type="date"
                class="form-control"
                id="FechaNacimiento"
                aria-describedby="data-bs-target"
              />
            </div>
            <div class="mb-3">
              <label for="Telefono" class="form-label">Telefono</label>
              <input
                type="number"
                class="form-control"
                id="Telefono"
                aria-describedby="data-bs-target"
              />
            </div>

            <div class="mb-3">
              <label for="PaisResidencia" class="form-label"
                >Pais de Residencia</label
              >
              <input
                type="text"
                class="form-control"
                id="PaisResidencia"
                aria-describedby="text"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="InformaciónContacto"
              />
              <label class="form-check-label" for="InformaciónContacto"
                >Información Contacto</label
              >
            </div>
            <button type="submit" class="btn btn-primary ">guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

